{% extends "base_m.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
{% block content %}

<div id="cuerpoHeredado">

  <div class="tab-content">
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <form action="{% url 'consulta' consulta.pk %}" method=POST>
        {% csrf_token %}
      <div id="rest_form">
        <div class="form-group" id='pacientes'>
          <label for="id_paciente">Paciente: </label>
          <span>{{consulta.paciente.first_name}} {{consulta.paciente.last_name}}</span>
        <label for="id_fechaCita">Cita: </label>
        <span>{{consulta.fecha}}</span>
        <label for="id_fechaCita">Institución: </label>
        <span>{{consulta.institucion.name}}</span>
        <label for="id_descripcion">Especialidad: </label>
        <span>{{consulta.especialidad.nombre_especialidad}}</span>
        </div>

      </div>
      {% buttons %}
      <div class="col-md-3"></div>
      <div class="col-sm-4 col-md-6 text-center">
        <form >
          <button id = 'revision' type="submit" id="id_submit" class="btn btn-danger">
              Comenzar Revisión
          </button>
          <button id ='finalizar' type="" id="id_submit" class="btn btn-lg">
              Finalizar Consulta
          </button>

            <a id = "atras" href="javascript:window.history.back();">&laquo; Regresar</a>

        </form>
          <div class="col-md-3"></div>
      {% endbuttons %}
    </div>
</div>
</div>
</div>


{% endblock %}
