{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
{% block content %}
  <div id="cuerpoHeredado">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Información Básica</a></li>
        {% if user.groups.all.0.name == 'medico' %}
        <li><a data-toggle="tab" href="#menu1">Estudios</a></li>
        <li><a data-toggle="tab" href="#menu2">Reconocimientos</a></li>
        <li><a data-toggle="tab" href="#menu3">Publicaciones</a></li>
        <li><a data-toggle="tab" href="#menu4">Experiencia</a></li>
        <li><a data-toggle="tab" href="#menu5">Habilidades</a></li>
        <li><a data-toggle="tab" href="#menu6">Eventos</a></li>
        {% endif %}
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <center><h2>Información Básica</h2></center>
            <div class="row">

                <form action="" method=POST enctype="multipart/form-data">
                  {% csrf_token %}
                  {% bootstrap_form_errors form %}
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}

                  <div id="rest_form">

                    <!-- left column -->
                    <div class="col-md-4 col-sm-6 col-xs-12">

                      <p class="text-center">

                        <br>
                        <br>

                        {% if usuario.fotosubida == False %}
                        <img src="{% static 'assets/img/avatar.png' %}" class="avatar img-circle img-thumbnail" alt="avatar">
                        {% else %}
                        <img class='circular' src="{{usuario.foto.url}}"  >
                        {% endif %}
                        <p></p>
                        <input class="form-control" id="id_foto" name="image" placeholder="Cambiar Foto" title="" type="file" value="" accept='.jpg, .png, .jpeg'>
                        <br>


                      </p>
                    </form>
                    </div>
                    <!-- edit form column -->
                    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

                  {% if user.groups.all.0.name == 'medico' %}
                    <div class="form-group">
                      <label for="id_ci">Cédula</label>
                      <span>{{medico.usuario.ci}}</span>
                    </div>
                    <label for="id_username">Nombre de usuario</label>
                    <span>{{medico.usuario.user.username}}</span>
                  {% endif %}


                  {% if user.groups.all.0.name == 'paciente' %}
                    <div class="form-group">
                      <label for="id_ci">Cédula </label>
                    <span>{{paciente.usuario.ci}}</span>
                    </div>
                    <label for="id_username">Nombre de usuario</label>
                    <span>{{paciente.usuario.user.username}}</span>
                  {% endif %}


                    <label for="id_first_name">Nombre</label>
                    {% bootstrap_field form.first_name layout="inline" %}
                    <label for="id_last_name">Apellido</label>
                    {% bootstrap_field form.last_name layout="inline" %}
                    <label for="id_email">Correo</label>
                    {% bootstrap_field form.email layout="inline" %}


                    {% if user.groups.all.0.name == 'paciente' %}
                      <div class="form-group">
                        <label for="id_sex">Sexo</label>
                        <select name="sex">
                          <option selected="selected">{{paciente.sexo}}</option>
                          <option value="Femenino">Femenino</option>
                          <option value="Masculino">Masculino</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="id_birth_date">Fecha de nacimiento</label>
                        <input class="form-control datepicker" id="id_birth_date" name="birth_date" placeholder="Fecha de nacimiento" title="" type="text" value="{{paciente.fecha_nacimiento}}"/>
                      </div>
                      <div class="form-group">
                      <label for="id_lugar">Lugar de nacimiento</label>
                      <input class="form-control" id="id_lugar" name="lugar" placeholder="Lugar de nacimiento" title="" type="text" value="{{paciente.lugar_nacimiento}}"/>
                    </div>
                    <div class="form-group">
                      <label for="id_marital_status">Estado civil</label>
                      <select name="marital_status">
                        <option selected="selected">{{paciente.estado_civil}}</option>
                        <option value="Soltero">Soltero(a)</option>
                        <option value="Casado">Casado(a)</option>
                        <option value="Viudo">Viudo(a)</option>
                        <option value="Divorciado">Divorciado(a)</option>
                        <option value="Otro">Otro</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="id_lugar">Ocupación</label>
                      <input class="form-control" id="id_lugar" name="ocupacion" placeholder="Ocupación" title="" type="text" value="{{paciente.ocupacion}}"/>
                      <div class="form-group">
                      <label for="id_phone">Teléfono</label>
                      <input class="form-control" id="id_phone" name="phone" placeholder="Teléfono" title="" type="text" value="{{paciente.telefono}}"/>
                    </div>
                    <div class="form-group">
                      <label for="id_address">Dirección</label>
                      <input class="form-control" id="id_address" name="address" placeholder="Dirección" title="" type="text" value="{{paciente.direccion}}"/>
                    </div>
                    {% endif %}


                    {% if user.groups.all.0.name == 'medico' %}
                    <div class="form-group">
                      <label for="id_sex">Sexo</label>
                      <select name="sex">
                        <option selected="selected">{{medico.sexo}}</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="id_birth_date">Fecha de nacimiento</label>
                      <input class="form-control datepicker" id="id_birth_date" name="birth_date" placeholder="Fecha de nacimiento" title="" type="text" value="{{medico.fecha_nacimiento}}"/>
                    </div>
                    <div class="form-group">
                      <label for="id_marital_status">Estado civil</label>
                      <select name="marital_status">
                        <option selected="selected">{{medico.estado_civil}}</option>
                        <option value="Soltero">Soltero(a)</option>
                        <option value="Casado">Casado(a)</option>
                        <option value="Viudo">Viudo(a)</option>
                        <option value="Divorciado">Divorciado(a)</option>
                        <option value="Otro">Otro</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="id_phone">Teléfono</label>
                      <input class="form-control" id="id_phone" name="phone" placeholder="Teléfono" title="" type="text" value="{{medico.telefono}}"/>
                    </div>
                    <div class="form-group">
                      <label for="id_address">Dirección</label>
                      <input class="form-control" id="id_address" name="address" placeholder="Dirección" title="" type="text" value="{{medico.direccion}}"/>
                    </div>
                    {% endif %}

                  {% buttons %}
                      <div class="col-md-3"></div>
                      <div class="col-sm-4 col-md-6 text-center">
                          <button type="submit" id="id_submit" class="btn btn-lg">
                              Guardar
                          </button>
                          <br>
                          <br>
                      </div>
                      <div class="col-md-3"></div>
                  </div>
                  {% endbuttons %}
                </form>
              </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <center><h2>Estudios</h2></center>
          <br>
            {% for study in studies %}
                <h4>{{study.titulo}} - <i>{{study.institucion}} {{study.fecha_graduacion}}</i></h4>
                <div class="row">
                    <div class="col-md-8 ">
                        <p>{{study.descripcion}}</p>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <a href="{% url 'modificar_estudios' study.pk %}"> Modificar </a>
                        <a href="{% url 'eliminar_estudios' study.pk %}">Eliminar</button>
                    </div>
                </div>
                <hr>
            {% endfor%}
            <center><a  href="{% url 'agregar_estudios' user.pk %}">Agregar Estudios</a></center>
        </div>
        <div id="menu2" class="tab-pane fade">
          <center><h2>Reconocimientos</h2></center>
          <br>
            {% for award in awards %}
                <h4>{{award.titulo}} - <i>{{award.fecha}}</i></h4>
                <div class="row">
                    <div class="col-md-8 ">
                        <p>{{award.institucion}}</p>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <a href="{% url 'modificar_reconocimientos' award.pk %}"> Modificar </a>
                        <a href="{% url 'eliminar_reconocimientos' award.pk %}"> Eliminar </a>
                    </div>
                </div>
                <hr>
            {% endfor%}
            <center><a href="{% url 'agregar_reconocimientos' user.pk %}"> Agregar Reconocimiento</a></center>
        </div>
        <div id="menu3" class="tab-pane fade">
          <center><h2>Publicaciones</h2></center>
          <br>
            {% for publication in publications %}
                <h4>{{publication.titulo}} - <i>{{publication.fecha}}</i></h4>
                <div class="row">
                    <div class="col-md-8 ">
                        <p>{{publication.descripcion}}</p>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <a href="{% url 'modificar_publicaciones' publication.pk %}"> Modificar </a>
                        <a href="{% url 'eliminar_publicaciones' publication.pk %}"> Eliminar </a>
                    </div>
                </div>
                <hr>
            {% endfor%}
            <center><a href="{% url 'agregar_publicaciones' user.pk %}"> Agregar Publicación </a></center>
        </div>
        <div id="menu4" class="tab-pane fade">
          <center><h3>Experiencias</h3></center>
         <br>
            {% for experience in experiences %}
                <h4>{{experience.titulo}} - <i>{{experience.institucion}}</i></h4>
                <h5><b> {{experience.fecha_inicio}} - {{experience.fecha_fin}}</b></h5>
                <div class="row">
                    <div class="col-md-8 ">
                        <p>{{experience.descripcion}}</p>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <a href="{% url 'modificar_experiencias' experience.pk %}">  Modificar </a>
                        <a href="{% url 'eliminar_experiencias' experience.pk %}"> Eliminar </a>
                    </div>
                </div>
                <hr>
            {% endfor%}
            <center><a href="{% url 'agregar_experiencias' user.pk %}"> Agregar Experiencia</a></center>
        </div>
        <div id="menu5" class="tab-pane fade">
          <center><h3>Habilidades</h3></center>
          <br>
            {% for ability in abilities %}
                <h4>{{ability.titulo}} </h4>
                <div class="row">
                    <div class="col-md-8 ">
                        <p>{{ability.descripcion}}</p>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <a href="{% url 'modificar_habilidades' ability.pk %}"> Modificar </a>
                        <a href="{% url 'eliminar_habilidades' ability.pk %}"> Eliminar </a>
                    </div>
                </div>
                <hr>
            {% endfor%}
            <center><a href="{% url 'agregar_habilidades' user.pk %}"> Agregar Habilidad </a></center>

        </div>
         <div id="menu6" class="tab-pane fade">
          <center><h3>Eventos</h3></center>
          <br>
            {% for event in events %}
                <h4>{{event.titulo}} <i>{{event.institucion}} {{event.date}}</i></h4>
                <div class="row">
                    <div class="col-md-8 ">
                        <p>{{event.descripcion}}</p>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <a href="{% url 'modificar_eventos' event.pk %}">  Modificar </a>
                        <a href="{% url 'eliminar_eventos' event.pk %}"> Eliminar </a>
                    </div>
                </div>
                <hr>
            {% endfor%}
            <center><a href="{% url 'agregar_eventos' user.pk %}"> Agregar Evento </a></center>

        </div>
      </div>
  </div>
{% endblock %}
{% block custom_script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  $( ".datepicker" ).datepicker({ format: 'dd-mm-yyyy' });
});
</script>
{% endblock %}
