{% extends "base_em.html" %}
{% block content %}

<div id="">
  <h1> Paciente a ingresar a Emergencias </h1>
</div>

<br>

<h3> Seleccione el paciente a ingresar: </h3>
<div>
    <table id="search_result" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
            {% for user in result %}
                <tr onclick="location.href='{% url 'consulta' user.id %}'">
                    <td>{{user.cedula}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.usuario.user.email}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <br>
{% endblock %}
