{% extends "base_em.html" %}
{% block content %}
<div id="cuerpoHeredado">
  <center><h2> Mi Historial de Emergencias </h2></center>
  <!-- Modal content -->
  <div id="myModal_appointment" class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2></h2>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea eliminar la cita?</p>
      <button id="deleteButton_appointment">Eliminar</button>
      <button id="cancel_delete_appointment">Cancelar</button>
    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>
  <div id="show-appointments"><table>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Paciente</th>
      <th>Institución</th>

      <th style="text-align: center">
        <a id="add_emerg" href="#">
          <i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>
        </a>
      </th>
    </tr>

    {% for a in emergencias %}

      <tr onclick="location.href='{% url 'consulta' a.id %}'">
        <td>{{a.fecha_entrada}}</td>
        <td>{{a.hora_entrada}}</td>
        <td>{{a.paciente.first_name}} {{a.paciente.last_name}}</td>
        <td>{{a.institucion.name}}</td>
      </tr>


    {% endfor%}
  </table></div>
  </div>
</div>
{% endblock %}
