{% extends "base.html" %}
{% block content %}
<div id="cuerpoHeredado">
  <center><h2>Mis Citas</h2></center>


  <div id="show-appointments"><table>
    <tr>
      <th style="text-align: center">Fecha</th>
      <th style="text-align: center">Hora</th>
      {% if user.groups.all.0.name == 'medico' %}
      <th style="text-align: center">Paciente</th>
      {% elif user.groups.all.0.name == 'paciente' %}
      <th style="text-align: center">Médico</th>
      {% endif %}
      <th style="text-align: center">Institución</th>
      <th style="text-align: center">Descripción</th>
      {% if user.groups.all.0.name == 'medico' %}
      <th style="text-align: center">
        <a id="add_appointment" href="{% url 'agregar_cita' user.pk %}">
          <i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>
        </a>
      </th>
      {% else %}
      <th style="text-align: center">
        <a id="add_appointment" href="{% url 'agregar_cita_pac' user.pk %}">
          <i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>
        </a>
      </th>
      {% endif %}
    </tr>
    {% for a in appointments %}
    <!-- Modal content -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Finalizar Cita</h4>
          </div>
          <div class="modal-body">
            <p>¿Está seguro que desea eliminar esta cita?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <a type="button" class="btn btn-primary" href="{% url 'eliminar_cita' a.pk%}" > Aceptar</a>
          </div>
        </div>

      </div>
    </div>


      {% if a.revision == False %}
      {% if user.groups.all.0.name == 'medico' %}
      <tr>
      {% else %}
      <tr>
      {% endif %}
        <td style="text-align: center">{{a.fecha}}</td>
        <td style="text-align: center">{{a.hora}}</td>

        {% if user.groups.all.0.name == 'medico' %}
        <td  style="text-align: center" onclick="location.href='{% url 'consulta' a.id %}'">{{a.paciente.first_name}} {{a.paciente.last_name}}</td>
        <td  style="text-align: center" onclick="location.href='{% url 'consulta' a.id %}'">{{a.institucion.name}}</td>
        <td  style="text-align: center" onclick="location.href='{% url 'consulta' a.id %}'">{{a.descripcion}}</td>
        {% else %}
        <td  style="text-align: center">{{a.medico.first_name}} {{a.medico.last_name}}</td>
        <td  style="text-align: center">{{a.institucion.name}}</td>
        <td  style="text-align: center">{{a.descripcion}}</td>
        {% endif %}

        

        {% if user.groups.all.0.name == 'medico' %}
        <td style="text-align: center;">
          <a href="{% url 'modificar_cita' a.pk %}"><i class="fa fa-pencil" style="font-size:20px;color:#5882FA"></i></a>
          <a data-toggle="modal" data-target="#myModal" ><i class="fa fa-trash" style="font-size:20px;color:#5882FA"></i></a>
        </td>
        {% else %}
        <td style="text-align: center;">
          <a href="{% url 'modificar_cita_pac' a.pk %}"><i class="fa fa-pencil" style="font-size:20px;color:#5882FA"></i></a>
          <a data-toggle="modal" data-target="#myModal" ><i class="fa fa-trash" style="font-size:20px;color:#5882FA"></i></a>
        </td>
        {% endif %}
      </tr>
      {% endif %}
    {% endfor%}
  </table></div>
  </div>
</div>
{% endblock %}
