{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
{% block content %}
<div id="cuerpoHeredado">

  <center><h1>Gestión de Especialidades</h1></center>
    <div id="show-especialidades"><table>
      <tr>
        <th style="text-align: center">
        	Nombre
        </th>
        <th style="text-align: center">
          <a id="add_appointment" href="{% url 'agregar_especialidad' %}">
            <i class="fa fa-plus-circle" style="font-size:20px;margin-right: 25%;color:white"></i>
          </a>
        </th>
      </tr>
      {% for especialidad in especialidades %}
        <tr>
          <td style="text-align: center; ">{{especialidad.nombre_especialidad}}</td>
          <td style="text-align: center; ">
            
            <input type="text" style="display: none;"" value="{{especialidad.pk}}">
            <a href="{% url 'modificar_especialidad' especialidad.pk %}"><i class="fa fa-pencil" style="font-size:20px;color:#5882FA"></i></a>
             <a href="{% url 'eliminar_especialidad' especialidad.pk %}"><i class="fa fa-trash" style="font-size:20px;color:#5882FA"></i></a>
            <!-- <a class="eliminar_especialidad"><i class="fa fa-trash" style="font-size:20px;color:#5882FA"></i></a> -->
          </td>
        </tr>
      {% endfor%}
    </table></div>
  
</div>
{% endblock %}


