{% extends "base.html" %}
{% block content %}
  <div id="cuerpoHeredado">
    <div id="myModal_user" class="modal-content">
      <div class="modal-header">
        <span class="close">×</span>
        <h2></h2>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar la institución?</p>
        <button id="deleteButton_user">Eliminar</button>
        <button id="cancel_user">Cancelar</button>
      </div>
      <div class="modal-footer">
        <h3></h3>
      </div>
    </div>
    <center><h1>Gestión de Instituciones</h1></center>
    <div id="show-instituciones"><table>
      <tr>
        <th>Rif</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Tipo</th>
        <th style="text-align: center">
        <a id="add_institucion" href="{% url 'agregar_institucion' %}">
          <i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>
        </a>
        </th>
      </tr>
      {% for ins in instituciones %}
        <tr>
          <td>{{ins.rif}}</td>
          <td>{{ins.name}}</td>
          <td>{{ins.address}}</td>
          <td>{{ins.tipo}}</td>
          <td style="text-align: center;">
            <a href="{% url 'modificar_institucion' ins.pk %}"><i class="fa fa-pencil" style="font-size:20px;color:#5882FA"></i></a>
            <a href="{% url 'eliminar_institucion' ins.pk %}"><i class="fa fa-trash" style="font-size:20px;color:#5882FA"></i></a>
          </td>
        </tr>
      {% endfor%}
    </table></div>
  </div>
{% endblock %}
