{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
{% block content %}

  {% if messages %}
    <ul class="messages">
      {% for mes in messages %}
      <li{% if mes.tags  %}
      class="{{ mes.tag }}"
      {% endif%}>{{ mes }}
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="cuerpoHeredado">
    <center><h2>Gestión de Roles</h2></center>
    <!--AGREGAR ROL-->
    <div class="col-xs-12 show-add-role" style="display:none;">
      <br>
      <br>
      <span>Agregar nuevo rol: </span>
      <input id="add-role-input" name="role" type="role">
      <button id = "add-role">Aceptar</button>
     <br>
     <br>
    </div>
    <!--MODIFICAR ROL-->
    <div class="col-xs-12 show-modify-role" style="display:none;">
      <br>
      <br>
      <span>Modificar rol: </span>
      <input id="modify-role-input" name="role" type="role">

      <button id = "modify-role-form">Aceptar</button>
     <br>
     <br>
    </div>
    <!--ERROR ROL-->
    <div class="col-xs-12 error-role" style="display:none;">
      <br>
      <br>
      <span id="error-role-span"></span>
     <br>
     <br>
    </div>
    <!-- TABLA DE ROLES-->
    <div id ="show-roles"><table>
    <tr>
      <th style="text-align: center;">Rol ID</th>
      <th style="text-align: center;">Rol</th>
      <th style="text-align: center">
        <a id="add_rols" href="{% url 'agregar_roles' %}">
          <i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>
        </a>
      </th>
    </tr>

    {% for role in roles %}
    <tr>
      <td style="text-align: center;">{{ role.id }}</td>
      <td style="text-align: center;">{{ role.name }}</td>
      <td style="text-align: center;">
        <a id="delete_rols" href="{% url 'eliminar_rol' role.pk %}">
         <i class="fa fa-trash" style="font-size:20px;color:#5882FA"></i>
       </a>
      </td>
    </tr>

    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
