{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block login %}
  <div id="header">
    <div class="container">
      {% if mensaje %}
        <p class="exito"> <i class="fa fa-check-circle-o"></i> {{ mensaje }}</p>
      {% endif %}
      <center>
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1>STPeHM</h1>
            </div>
            <div class="login-form">
              {% bootstrap_form_errors form %}
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="control-group">
                  <input type="text" class="login-field" placeholder="Username" name="username" style= 'width: 264px'>
                  <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">
                  <input type="password" class="login-field" placeholder="Password" name="password" style= 'width: 264px'>
                  <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <input class="btn btn-default" type="submit" value="Login" style= 'width: 264px'>
              </form>
              {% if error %}
                <p class="error"> <i class="fa fa-exclamation-triangle"></i>  <strong>Error:</strong> {{ error }}</p>
              {% endif %}
              <a href="{% url 'register' %}" id="registrarse"><b>Registrarse</b></a>

            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
{% endblock %}
